<header>
  <div class="logo">
    <a href="/">
      <img src="http://cirkutmedia.com/images/logo-black.png" alt="Cirkut Media" />
    </a>
  </div>
  <nav>
    <a href="/" class="desktop-menu-item">Home</a><!--
    --><a href="/services/" class="desktop-menu-item">Services</a><!--
    --><a href="/work/" class="desktop-menu-item">Work</a><!--
    --><!-- <a href="/blog/" class="desktop-menu-item">Blog</a> --><!--
    --><a href="/contact/" class="desktop-menu-item">Contact</a><!--
    --><a href="#" class="mobile-menu-trigger">Menu</a>
  </nav>
  <div class="overlay">
    <div class="mobile-menu-close"><span>&times;</span></div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/services/">Services</a></li>
      <li><a href="/work/">Work</a></li>
      <!-- <li><a href="#">Blog</a></li> -->
      <li><a href="/contact/">Contact</a></li>
    </nav>
  </div>
  <div id="hero-particle" class="hero bordered white top">
    <div class="content container">
      {% if page.titleImage %}<img src="{{ page.titleImage }}" class="hero-logo" alt="" />{% endif %}
      <h2>{% if page.heroContent %}{{ page.heroContent }}{% else %}{{ page.title }}{% endif %}</h2>
    </div>
  </div>
</header>