header {
  position: relative;
  z-index: 2;
  
  .logo {
    position: absolute;
    z-index: 1;
    left: 50px;
    top: 50px;
    @include media-query($tablet) {
      left: 25px;
      top: 25px;
    }
    a {
      background: $white;
      display: inline-block;
    }
    img {
      max-width: 75px;
      opacity: 0.8125;
      vertical-align: middle;
    }
  }
  
  nav {
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 50px;
    @include media-query($tablet) {
      right: 25px;
      top: 25px;
    }
    a {
      color: $dark;
      background: $white;
      text-decoration: none;
      padding: 12px 15px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      font-size: 12px;
      &.mobile-menu-trigger {
        display: none;
        @include media-query($tablet) {
          display: inline-block;
        }
      }
      &.desktop-menu-item {
        display: inline-block;
        @include media-query($tablet) {
          display: none;
        }
      }
      &:hover {
        background: $dark;
        color: $white;
        cursor: pointer;
      }
    }
  }
  .overlay {
    position: fixed;
    background: $dark;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    &:before {
      position: absolute;
      pointer-events: none;
      top: 25px;
      right: 25px;
      bottom: 25px;
      left: 25px;
      content: "";
      display: block;
      border: 5px solid $white;
      z-index: 1;
    }
    &.open {
      opacity: 1;
      visibility: visible;
      height: 100%;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    a{
      text-decoration: none;
      color: $white;
      font-size: 3.6rem;
      line-height: 6.4rem;
      text-transform: uppercase;
      letter-spacing: 1rem;
      font-weight: 500;
    }
    .mobile-menu-close {
      transition: all 0.3s;
      cursor: pointer;
      color: $dark;
      background: $white;
      z-index: 2;
      position: fixed;
      top: 25px;
      right: 25px;
      padding:12px;
      text-align: right;
      font-weight: bold;
      font-size: 3.6rem;
      &:hover{
        color: $white;
        background: $dark;
      }
    }
  }
}
.hero {
  position: relative;
  width: 100%;
  height: 300px;
  min-height: 200px;
  background-color: $dark;
  .content {
    position: absolute;
    text-align: center;
    color: $white;
    top: calc(50% + 25px);
    left: 0;
    right: 0;
    transform: translateY(-50%);
    
    h1,h2,h3,h4,h5,h6 {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 700;
      font-size: 4.8rem;
      max-width: 600px;
      margin: 0 auto;
      @include media-query($tablet) {
        font-size:3.2rem;
      }
    }
    
    img {
      max-width: 192px;
      display: inline-block;
      @include media-query($tablet) {
        max-width: 128px;
      }
    }
  }
}
.home .hero {
  height: 600px;
  h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
    font-size: 2.8rem;
    letter-spacing: 1px;
    @include media-query($tablet) {
      font-size:2.0rem;
    }
  }
  @include media-query($tablet) {
    height: 450px;
  }
}

.services {
  .service {
    text-align: center;
    i {
      font-size: 3.6rem;
      border: 2px solid $white;
      border-radius: 50%;
      width: 7.2rem;
      height: 7.2rem;
      display: inline-block;
      line-height: 7.2rem;
      transition: all 0.3s;
      &:before {
        line-height:6.4rem !important;
      }
    }
    h1,h2,h3,h4,h5,h6 {
      text-transform: uppercase;
      font-weight: 400;
      letter-spacing: 4px;
      font-size: 1.8rem;
      @include media-query($phone) {
        letter-spacing:2px;
        font-size: 1.6rem;
      }
    }
    p {
      text-align: left;
    }
    a {
      color: $white;
      text-decoration: none;
      display: block;
      text-align: center;
      &:hover {
        text-decoration: none;
        i {
          background: $white;
          color: $dark;
        }
      }
    }
    @include media-query($tablet) {
      margin-bottom: 6.4rem;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.gallery {
  .item {
    margin: 0 0 20px 0;
    a {
      display: block;
      padding: 5px;
      border: 2px solid lighten($dark, 60%);
      &:hover {
        border-color: $dark;
      }
    }
  }
}

.gradient-wrap {
    padding: 25px;
    img {
        box-shadow: 0px 5px 20px rgba(5, 30, 50, 0.15);
    }
}

form {
  overflow: hidden;
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0px;
  }
  label {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    color: $dark;
  }
  input, textarea {
    border: 2px solid lighten($dark, 60%);
    outline: none;
    padding: 8px 12px;
    font-size: 1.6rem;
    width: 100%;
    margin-bottom: 20px;
  }
  input {
    height: 4.8rem;
  }
  textarea {
    height: 7.3rem;
  }
  input[type=radio] {
    float: left;
    display: inline-block;
    width: auto;
    margin-right:10px;
  }
  .required {
    color: #c56464;
  }
}

footer {
  background: $dark;
  padding-bottom: 50px;
  clear: both;
  .container {
    padding: 70px;
    color: $light;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.6rem;
    z-index:1;
    @include media-query($tablet) {
      padding: 25px 50px;
    }
  }
  @include media-query($tablet) {
    padding-bottom: 25px;
  }
}
