---
layout: default
---
<div class="page">
  <div class="bordered bg-medium top bottom">
    <div class="post-meta container pt15 pb15 text-center">{% if page.author %} Posted by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><strong><span itemprop="name">{{ page.author }}</span></strong></span> on {% endif %}<strong><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></strong></div>
  </div>
  <div class="content post-content bordered medium top bottom">
    <div class="container pt50 pb50">
      {{ content }}
    </div>
  </div>
</div>